	<!-- start banner Area -->
	<!-- <section class="banner-area relative" id="home">	
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<div class="client-big-logo" style="background-image: url('https://daks2k3a4ib2z.cloudfront.net/57a4a82bae4229de1de385d1/57a88889f66b1be80d2d9ed1_client-6.jpg');">
					</div>
					<div class="align-center">
						<h1 class="just-title sub-banner-title">Paradigm</h1>
						<a class="website-title" href="#">View Website</a>
						<div>
							<div class="category-text">Construction</div>
							<div class="category-text">| &nbsp;Posted on:</div>
							<div class="category-text">January 5, 2017</div>
						</div>
					</div>
				</div>											
			</div>
		</div>
	</section> -->
	<!-- End banner Area -->	

	<!-- Start post Area -->
	<section class="container-fluid gedf-wrapper px-0">
		<!-- <div class="container"> -->
			<div class="row justify-content-center d-flex" style="margin-left: 0px; margin-right: 0px;">
				<div class="col-lg-3">
					<!-- <div class="single-slidebar">
						<h4>Jobs by Location</h4>
						<ul class="cat-list">
							<li><a class="justify-content-between d-flex" href="category.html"><p>New York</p><span>37</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Park Montana</p><span>57</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Atlanta</p><span>33</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Arizona</p><span>36</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Florida</p><span>47</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Rocky Beach</p><span>27</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Chicago</p><span>17</span></a></li>
						</ul>
					</div> -->
					
					<div class="single-slidebar leftpane shadow-card col-lg-12 py-2 d-none d-lg-block d-xl-none">
						<!-- <h4>Top rated job posts</h4> -->
						<div id="demo" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
						  <div class="carousel-item active">
							<img class="img-fluid" src="../assets/images/r1.jpg" alt="" width="100%">
							<div class="text-center">
								<a href="single.html"><h4>Creative Art Designer</h4></a>
								<h6>Premium Labels Limited</h6>
								<br>
								<p class="address"><span class="lnr lnr-map-marker"></span> Chennai &nbsp;&nbsp; <span class="lnr lnr-briefcase"></span> 2 - 5 Years</p>
								<a href="#" class="btnsS text-uppercase">Apply job</a><br>
							</div>
						  </div>
						  <div class="carousel-item">
							<img class="img-fluid" src="../assets/images/r1.jpg" alt="" width="100%">
							<div class="text-center">
								<a href="single.html"><h4>Creative Art Designer</h4></a>
								<h6>Premium Labels Limited</h6>
								<br>
								<p class="address"><span class="lnr lnr-map-marker"></span> Chennai &nbsp;&nbsp; <span class="lnr lnr-briefcase"></span> 2 - 5 Years</p>
								<a href="#" class="btnsS text-uppercase">Apply job</a>
							</div>
						  </div>
						  <div class="carousel-item">
							<img class="img-fluid" src="../assets/images/r1.jpg" alt="" width="100%">
							<div class="text-center">
								<a href="single.html"><h4>Creative Art Designer</h4></a>
								<h6>Premium Labels Limited</h6>
								<br>
								<p class="address"><span class="lnr lnr-map-marker"></span> Chennai &nbsp;&nbsp; <span class="lnr lnr-briefcase"></span> 2 - 5 Years</p>
								<a href="#" class="btnsS text-uppercase">Apply job</a>
							</div>   
						  </div>
						</div>
					  </div>
					</div>							
					<br>
					<!-- <div class="single-slidebar">
						<h4>Jobs by Category</h4>
						<ul class="cat-list">
							<li><a class="justify-content-between d-flex" href="category.html"><p>Technology</p><span>37</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Media & News</p><span>57</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Goverment</p><span>33</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Medical</p><span>36</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Restaurants</p><span>47</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Developer</p><span>27</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Accounting</p><span>17</span></a></li>
						</ul>
					</div> -->
				</div>
				<!-- middle pane -->
				<div class="col-lg-6 post-list row gedf-main">
					<div class="single-post d-flex flex-row card gedf-card shadow-card col-lg-12">
						<div class="thumb col-sm-3 text-center align-middle">
							<img src="../assets/images/post.png" alt="">
							<!-- <ul class="tags">
							<li>
								<a href="#">Art</a>
							</li>
							<li>
								<a href="#">Media</a>
							</li>
							<li>
								<a href="#">Design</a>					
							</li>
							</ul> -->
						</div>
						<div class="details col-lg-9">
							<div class="title d-flex flex-row justify-content-between">
							<div class="titles">
								<a href="/jobs/desc"><h4>Creative Art Designer</h4></a>
								<h6>Premium Labels Limited</h6>					
							</div>
							<ul class="btns">
								<li><a href="#"><img src="../assets/images/share.png" height="22px"></a></li>
								<li><a href="#">Apply</a></li>
							</ul>
							</div>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
							</p>
							<p class="address"><span class="lnr lnr-map-marker"></span>Chennai &nbsp;&nbsp; <span class="lnr lnr-briefcase"></span> 2 - 5 Years</p>
						</div>
					</div>	
					<div class="single-post job-details card gedf-card shadow-card">
						<h4 class="single-title">About the Company</h4>
						<!-- <p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
						</p> -->
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</p>
					</div>
					<div class="single-post job-experience card gedf-card shadow-card">
						<h4 class="single-title">Job Description</h4>
						<!-- <ul>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>	
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>																											
						</ul> -->
						<p>
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						</p>
					</div>
					<!-- <div class="single-post job-experience">
						<h4 class="single-title">Job Features & Overviews</h4>
						<ul>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>	
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>													
						</ul>
					</div>	
					<div class="single-post job-experience">
						<h4 class="single-title">Education Requirements</h4>
						<ul>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>
							<li>
								<img src="img/pages/list.jpg" alt="">
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam.</span>
							</li>																										
						</ul>
					</div> -->														
				</div>
				<div class="col-lg-3">
					<!-- <div class="single-slidebar">
						<h4>Jobs by Location</h4>
						<ul class="cat-list">
							<li><a class="justify-content-between d-flex" href="category.html"><p>New York</p><span>37</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Park Montana</p><span>57</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Atlanta</p><span>33</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Arizona</p><span>36</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Florida</p><span>47</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Rocky Beach</p><span>27</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Chicago</p><span>17</span></a></li>
						</ul>
					</div> -->

					<!-- <div class="single-slidebar">
						<h4>Top rated job posts</h4>
						<div id="demo" class="carousel slide" data-ride="carousel">
						<ul class="carousel-indicators">
						  <li data-target="#demo" data-slide-to="0" class="active"></li>
						  <li data-target="#demo" data-slide-to="1"></li>
						  <li data-target="#demo" data-slide-to="2"></li>
						</ul>
						<div class="carousel-inner">
						  <div class="carousel-item active">
							<img class="img-fluid" src="../assets/images/r1.jpg" alt="">
									<a href="single.html"><h4>Creative Art Designer</h4></a>
									<h6>Premium Labels Limited</h6>
									<p>
									  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
									</p>
									<h5>Job Nature: Full time</h5>
									<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
									<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
									<a href="#" class="btns text-uppercase">Apply job</a>   
						  </div>
						  <div class="carousel-item">
							<img class="img-fluid" src="../assets/images/r1.jpg" alt="">
									<a href="single.html"><h4>Creative Art Designer</h4></a>
									<h6>Premium Labels Limited</h6>
									<p>
									  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
									</p>
									<h5>Job Nature: Full time</h5>
									<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
									<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
									<a href="#" class="btns text-uppercase">Apply job</a>   
						  </div>
						  <div class="carousel-item">
							<img class="img-fluid" src="../assets/images/r1.jpg" alt="">
									<a href="single.html"><h4>Creative Art Designer</h4></a>
									<h6>Premium Labels Limited</h6>
									<p>
									  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
									</p>
									<h5>Job Nature: Full time</h5>
									<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
									<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
									<a href="#" class="btns text-uppercase">Apply job</a>   
						  </div>
						</div>
					  </div>
					</div> -->							
					<!-- <div class="single-slidebar">
						<h4>Jobs by Category</h4>
						<ul class="cat-list">
							<li><a class="justify-content-between d-flex" href="category.html"><p>Technology</p><span>37</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Media & News</p><span>57</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Goverment</p><span>33</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Medical</p><span>36</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Restaurants</p><span>47</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Developer</p><span>27</span></a></li>
							<li><a class="justify-content-between d-flex" href="category.html"><p>Accounting</p><span>17</span></a></li>
						</ul>
					</div> -->

					<div class="rigthpane shadow-card rounded col-lg-12 py-2">
						<h4>Career Advice Blog</h4>
						<br>
						<div>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</div>
					</div>							

				</div>
			</div>
		<!-- </div> -->	
	</section>
	